<meta name="google-signin-client_id" content="216364818453-bgmb05h8s5p5hd3ob7olj9edbpksfo06.apps.googleusercontent.com">

<script src="https://apis.google.com/js/platform.js" async defer></script>
<!-- Page Header Start -->
<div class="page-header" style="background: url(/assets/banner1.jpg);">
  <div class="container">
    <div class="row">         
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="page-title">Login to account</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End --> 

<!-- Content section Start --> 
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-4">
        <div class="page-login-form box">
          <h3>
            Login
          </h3>
          <%= form_for(resource, as: resource_name, url: user_session_path, class: 'login-form') do |f| %>  
            <div class="form-group">
              <div class="input-icon">
                <i class="icon fa fa-user"></i>
                <%=f.email_field :email,:class => "form-control", placeholder: 'Email'%>
              </div>
            </div> 
            <div class="form-group">
              <div class="input-icon">
                <i class="icon fa fa-unlock-alt"></i>
                <%=f.password_field :password,:class => "form-control", placeholder: 'Password'%>
              </div>
            </div>                  
            <div class="checkbox">
              <input type="checkbox" id="remember" name="rememberme" value="forever" style="float: left;">
              <label for="remember">Remember me</label>
            </div>
            <button class="btn btn-common log-btn">Submit</button>
          <% end %>
          <ul class="form-links">
            <li class="pull-left"><a href="#">Don't have an account?</a></li>
            <li class="pull-right"><a href="#">Lost your password?</a></li>
          </ul>
          <hr />
          <div class="fb-login-button social-login-button" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="true" onclick="loginFacebook()"></div>
          <br>
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
          <%#= link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-block btn-social btn-google' do%>
            <!-- <span class="fa fa-google"></span>Sign in with Google -->
          <%# end %> 
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section End --> 

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '375593839921327',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.2'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=375593839921327&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));


  function loginFacebook(){
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        var accessToken = response.authResponse.accessToken;
      } 
    } );

    FB.login(function(response) {
      if (response.authResponse) {
         console.log('Welcome!  Fetching your information.... ');
         FB.api('/me', function(response) {
           console.log('Good to see you, ' + response.name + '.');
         });
      } else {
         console.log('User cancelled login or did not fully authorize.');
      }
    });
  }

</script>