<!-- Header Section Start -->
<div class="header">    
  <nav class="navbar navbar-default main-navigation" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- Stat Toggle Nav Link For Mobiles -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- End Toggle Nav Link For Mobiles -->
        <a class="navbar-brand logo" href="/"><img src="/assets/logo.png" alt=""></a>
      </div>
      <!-- brand and toggle menu for mobile End -->

      <!-- Navbar Start -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li class="header-button">
            <a class="btn btn-danger" href="/advertise"><b>Advertise</b></a>
          </li>
          <li class="header-button">
            <a class="btn btn-danger" href="/free_listing"><b>Free Listing</b></a>
          </li> -->
          <% if current_employee.present? %>
            <% photo_url = "/assets/user_default.png"%>
            <li class="dropdown profile-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="<%= photo_url %>"/> 
                    <%= current_employee.name %>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="divider"></li>
                    <li>
                        <div class="navbar-login-session">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>
                                      <%= link_to destroy_employee_session_path, :method => 'delete', class: 'btn btn-primary btn-block' do %>
                                         Logout
                                      <% end %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- Navbar End -->
    </div>
  </nav>
</div>