<section id="content" class="new-retailer-product">
	<div class="container">
	    <div class="row">
	    	<div class="col-sm-10 col-sm-offset-1">
	    		<div class="page-login-form">
	    			<div class="col-sm-12">
		          		<label class="retailer-form-header">
		          			Please fill the property details for <b><%= @retailer.name %></b>
		          		</label>
		          	</div>	<!-- Product Details -->
					<%= render partial: 'form',  locals: {retailer: @retailer, retailer_product: @retailer_product } %>
				</div>
	    	</div>
	    </div>
	</div>
</section>

<%= render '/employees/retailers/hidden_form' %> 