<!-- Start Services Section -->
<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="features-box wow fadeInDownQuick" data-wow-delay="0.3s">
          <div class="features-icon">
            <i class="fa fa-building-o" aria-hidden="true"></i>
          </div>
          <div class="features-content">
            <h4>
              Real Estate Solutions
            </h4>
            <p><b>
              We have lots of businesses/brokers and owners connect, to provide best deal for you, with minimum cost and maximum benifits.
            </b></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="features-box wow fadeInDownQuick" data-wow-delay="0.6s">
          <div class="features-icon">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
          </div>
          <div class="features-content">
            <h4>
              Expert Advice
            </h4>
            <p><b>
              We have experts who can help you to manage the deals and plans. We have Vastu Expert, Architect, Interior Designer, Legal Advisor.
            </b></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="features-box wow fadeInDownQuick" data-wow-delay="0.9s">
          <div class="features-icon">
            <i class="fa fa-plane" aria-hidden="true"></i>
          </div>
          <div class="features-content">
            <h4>
              Quick Services
            </h4>
            <p><b>
              When your deadline is non-negotiable, we are providing fast service that you can count on. Your specific needs vary which is why we are flexible with our express delivery services. 
            </b></p>
          </div>
        </div>
      </div> 
      <div class="col-md-4 col-sm-6">
        <div class="features-box wow fadeInDownQuick" data-wow-delay="1.2s">
          <div class="features-icon">
            <i class="fa fa-plug" aria-hidden="true"></i>
          </div>
          <div class="features-content">
            <h4>
              Retailer Hub
            </h4>
            <p><b>
              We have number of retailers associated as our business partners who are closely working with us to provide you the best services/solutions.
            </b></p>
          </div>
        </div>
      </div>           
      <div class="col-md-4 col-sm-6">
        <div class="features-box wow fadeInDownQuick" data-wow-delay="1.5s">
          <div class="features-icon">
           <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="features-content">
            <h4>
              24x7 Suport
            </h4>
            <p><b>
              We have a large support team to answer your queries and help you to get services at your door. 
            </b></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="features-box wow fadeInDownQuick" data-wow-delay="1.8s">
          <div class="features-icon">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
          </div>
          <div class="features-content">
            <h4>
              User Friendly Applications
            </h4>
            <p><b>
              We have applications for android and iphone users to easily use our services and provide their valuable feedback and suggestions.
            </b></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="features-box wow fadeInDownQuick" data-wow-delay="2.1s">
          <div class="features-icon">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
          </div>
          <div class="features-content">
            <h4>
              High Quality Products
            </h4>
            <p><b>
              We are associated with the retailers providing high quality products and services to our customers.
            </b></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="features-box wow fadeInDownQuick" data-wow-delay="2.4s">
          <div class="features-icon">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          </div>
          <div class="features-content">
            <h4>
              Offers Available
            </h4>
            <p><b>
              We are providing offers to our regular customers in terms of promo codes, free delivery, discounts on services and products.
            </b></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="features-box wow fadeInDownQuick" data-wow-delay="2.7s">
          <div class="features-icon">
            <i class="fa fa-registered" aria-hidden="true"></i>
          </div>
          <div class="features-content">
            <h4>
              Business with US
            </h4>
            <p><b>
              If you are a retailer or service provider then you can connect with us, We'll help you to grow your business through our large bucket of customers.
              <a href="#">Click Here..</a>
            </b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Services Section -->
