<section class="location">
  <div class="container">
    <div class="row localtion-list">
      <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft subscribe-us" data-wow-delay="0.5s">
        <h3 class="title-2"><i class="fa fa-envelope"></i> Write us</h3>
        <p>Join our 10,000+ subscribers and get access to the latest updates, services, announcements and offers.</p>
        <div class="subscribe">
          <button class="btn btn-common" type="submit" data-toggle="modal" data-target="#userDetailsModal">Subscribe</button>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight our-services" data-wow-delay="1s">
        <h3 class="title-2"><i class="fa fa-search"></i> Popular Services</h3>
        <% filter_list.each do |category| %>
          <ul class="cat-list col-sm-4">
            <%category.product_sub_categories.where(active: true).each do |sub_category|%>
              <li> <a><%= sub_category.p_name %></a></li>
            <% end %>  
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</section>