<!-- Start intro section -->
<section id="intro" class="section-intro">
  <div class="overlay">
    <div class="container">
      <div class="main-text">
        <h1 class="intro-title">Welcome To <span style="color: #f57c00">GharDekhoo</span></h1>
        <p class="sub-title">We are the best leading service provider in India, We are helping our customers to find best property and services to their door.</p>

        <%= render 'commons/template/search_bar' , states: states, cities: cities, default_state: default_state, default_city: default_city, default_category: @default_category %>
      </div>
    </div>
  </div>
</section>
<!-- end intro section -->