<section class="customer-logos slider">
	<% if url_details.present? %>
	    <% url_details.each do |url_data|%>
	        <div class="slide pointer" data-toggle="modal" data-target="#retailerDetailsModal" onclick="setRetailerId('<%= url_data[1] %>')"><img src="<%= url_data[0] %>" height="130"></div> 
	    <% end %> 
	<% end %>       
</section>