<div class = "row">
	<div class="col-sm-12 col-md-10 col-md-offset-1">
    	<div id="comments">
			<div class="inner-box">
			    <h3>Comments</h3>
			    <ol class="comments-list">
			    	<% user_request.user_request_replies.order('created_at asc').each do |reply| %>
					    <li>
					        <div class="media">
					          <div class="info-body">
					            <div class="media-heading">
					              <% if reply.replied_by == 'user' %>	
					              	<h4 class="name"><%= reply&.user&.name %></h4>
					              <% else %>
					              	<h4 class="name">Support Team</h4>
					              <% end %>	 | 
					              <span class="comment-date"><%= reply.updated_at.strftime('%b %d, %Y') %></span>
					            </div> 
					            <p><%= reply.description %></p>
					          </div>
					        </div>
					    </li>
					<% end %>    
			    </ol>
			</div>
		</div>
	</div>	
</div>	