<!-- Related Products Start -->
<section class="featured-lis mb30" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow fadeIn" data-wow-delay="0.5s">
        <h3 class="section-title">Available Products</h3>
        <div id="new-products" class="owl-carousel">
          <% products = retailer_products(retailer) %>
          <% products.each do |product| %>
            <div class="item retailer-product">
              <div class="product-item">
                <div class="carousel-thumb">
                  <img src="<%= product&.retailer_product_photos&.first&.photo_url %>" alt=""> 
                </div>    
                <%= product.product_name.to_s + "-" + product.sku_code.to_s%>
                <span class="price">INR <%= product.price %></span>  
              </div>
            </div>
          <% end %>  
        </div>
      </div> 
    </div>
  </div>
</section>
<!-- Related Products End -->
