<%= render 'commons/template/header' %> 

<div id="category-list-contaiiner">
	<%= render 'filter_list', states: @states, cities: @cities, default_state: @default_state, default_city: @default_city, default_category: @default_category %>
</div>

<%= render 'category_sidebar', retailers: @retailers, retailers_count: @retailers_count %> 

<%= render 'commons/hidden_forms' %>


<script type="text/javascript" src="/assets/main.js"></script>