<p>Hey <%= @user_request_reply&.user_request&.user&.name %>,</p>
<p><b>Support Team</b> replied on #<%= @user_request_reply.user_request.number%>.</p>
<br />
<p><b><%= @user_request_reply.description %></b></p>

<br />

<p>Regards,</p>
<p>Support Team Ghardekhoo.com</p>