<p>Hey <%= @user_request&.user&.name&.upcase %>,</p>
<p>Your request(<%= @user_request.number %>) status has been updated from <b><%= @old_status_value %></b> to <b><%= @new_status_value %></p>

<br />

<p>Regards,</p>
<p>Support Team Ghardekhoo.com</p>