<div id="retailer-city-field">
	<%=form.select(:city, options_for_select([["Select city",0]]),{ }, 
                                           { :class => "form-control", :style => "width: 245px;"})%>
</div>   

<script>
	$(document).ready(function(){
		$('#retailer_state').change(function(){
			var url = '/state/'+$(this).val()+'/city_list?retailer_id=<%= params[:id] %>'
			$.get(url)
		})
		if($('#retailer_state').val() != "" || $('#retailer_state').val() != null){
			var url = '/state/'+$('#retailer_state').val()+'/city_list?retailer_id=<%= params[:id] %>'
			$.get(url)
		}
	})
</script>                                        