<div id="retailer-city-field">
	<%=form.select(:city, options_for_select([["Select city",0]]),{ }, 
                                           { :class => "form-control", :style => "width: 245px;"})%>
</div>   

<script>
	$(document).ready(function(){
		$('#retailer_state, #retailer_product_state').change(function(){
			var url = '/state/'+$(this).val()+'/city_list?retailer_id=<%= params[:id] %>'
			$.get(url)
		})
		if($('#retailer_state, #retailer_product_state').val() != "" || $('#retailer_state, #retailer_product_state').val() != null){
			var state = $('#retailer_state, #retailer_product_state').val();
			var url = '/state/'+state+'/city_list?retailer_id=<%= params[:id] %>'
			$.get(url)
		}
	})
</script>                                        