#customer-list{
  .item-list{
  	.category{
  		background-color: #ee8022 !important;
  	}
  }

  .input-icons i { 
     position: absolute; 
  } 
    
  .input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
  } 
    
  .icon { 
    padding: 18px; 
    color: green; 
    min-width: 50px; 
    text-align: center; 
  } 
    
  .input-field { 
    width: 90%; 
    padding-left: 25px;
  } 
}